[submodule "fficxx"]
	path = fficxx
	url = git@github.com:wavewave/fficxx.git
[submodule "HROOT"]
	path = HROOT
	url = git@github.com:wavewave/HROOT.git
[submodule "hs-ogdf"]
	path = hs-ogdf
	url = git@github.com:wavewave/hs-ogdf.git
[submodule "hgdal"]
	path = hgdal
	url = git@github.com:wavewave/hgdal.git
[submodule "HDataFrame"]
	path = HDataFrame
	url = git@github.com:wavewave/HDataFrame.git
